@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700;900&display=swap');

body{
    background-image: url("../img/fondo_login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    font-family: 'Outfit', sans-serif;
}
.login{
    margin-top: 7%;
}
input[type=text],input[type=password]{
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    width: 100%;
    border-radius: 5px;
    padding: 8px;
    margin-top: 20px;
    color: white;
}

input[type=text]::placeholder, input[type=password]::placeholder{ color: white; }

input[type=text]:focus,input[type=password]:focus{
    outline: none;
}